
header {

    ul {
        margin: 25px;
        padding: 30px;
        background-color: antiquewhite;
    }

    li {
        display: inline;
        list-style-type: none;
        margin: 18px;
        padding: 20px;

    }

    a {
        color: $text-color;
        text-decoration: none;
    }

    a:hover {
        color: black;
    }
}

